* {
  font-family: 'Courier New', Courier, monospace;
}

.recipe-title {
  font-size: 20px;
  color: brown;
}

.home-button-img {
  width: 100px;
}

.link-img {
  width: 400px;
}

h1, h2 {
  background-color: blanchedalmond;
}